---
const { buttonText } = Astro.props;
---

<button>{buttonText}</button>

<style>
  button {
    margin-top: var(--spacing-medium);
    width: 125px;
    padding: var(--spacing-small);
    border: none;
    border-radius: 100px;
    color: var(--grey);
    font-weight: bold;
  }
</style>
